

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


@import "tailwindcss";


.viga {
  font-family: "Boldonse",   sans-serif;
}
.lato {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight:400;
 
}
@layer components {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}
.text-primary{
  color:#E80F1A
}
.bg-primary{
  background-color:#E80F1A;
}
.text-primary2{
  color:#272475
}
.bg-primary2{
  background-color:#272475
}